{% extends '::layout.html.twig' %}
{% block body %}
	<div class="column span-20" id="index_content" style="">
		{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<div id="no_logged_in_info" >
				<div class="column span-13">
				<h2 style="color:#CCC;">什么是“臭美的我”??</h2>
				<span>分享穿衣风格，获取荣誉勋章！年轻人的时尚社区。</span>
				<p style="padding:0;margin:0;">3秒钟轻松注册，分享你得臭美心得。</p>
				</div>
				<div style="clear:both;height:0;line-height:0;">&nbsp;</div>
			</div>
		{% endif %}
		<div id="latest_looks" class="">
			<ul class="looks">
				{% for looks in latestLooks %}
					<li>
						<div class="container">
							<div class="looks_img column" style="border:1px solid #f00;margin-right:0;">
								<img src="{{ looks.url }}" border="0" />
							</div>
							<div class="looks_wrapper column last span-11-5" style="">
								<div class="looks_wrapper_head" class="span-11-5" style="">
									<div class="looks_wrapper_subhead"></div>
								</div>
								<div>Head Actions</div>
								<div>Tags list here</div>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="column span-9 last" id="side_bar" style="">
		<div class="twtr-bd">
			<div style=""  class="twtr-timeline">
				<div class="twtr-tweets" >
				</div>
			</div>
			<div class="twtr-fade"></div>
		</div>
	</div><!-- end side bar-->
{% endblock %}