{% extends '::layout.html.twig' %}
{% block body %}
	<div class="column span-20" id="index_content" style="">
		{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<div id="no_logged_in_info" >
				<div class="column span-13">
				<h2 style="color:#CCC;">什么是“臭美的我”??</h2>
				<span>分享穿衣风格，获取荣誉勋章！年轻人的时尚社区。</span>
				<p style="padding:0;margin:0;">3秒钟轻松注册，分享你得臭美心得。</p>
				</div>
				<div style="clear:both;height:0;line-height:0;">&nbsp;</div>
			</div>
		{% endif %}
		<div id="latest_looks" class="">
			<ul class="looks">
				{% for looks in latestLooks %}
					<li style="margin-bottom: 90px;">
						<div class="container">
							<div class="looks_img column" style="">
								<a style="display:block; " href="" onMouseOver="$(this).siblings('.on_layer').show();"><img src="{{ looks.url }}" /></a>
								<div class="outfit_image_click">
									<a href=""><span class="zoom">&nbsp;</span>点击看大图</a>
								</div>
								<div class="on_layer" style="color:#0f0;" onmouseout="$(this).hide();"">
									<span class="on_marker_wrapper" style="position:absolute;top:30px;left:50px;display:block;" onmouseover="$(this).css('background-color', '#f00')" onmouseout="$(this).css('background-color', '#fff')">
										<span class="on_marker">1</span>
									</span>
									<span class="on_marker_wrapper" style="position:absolute;top:130px;left:80px;display:block;">
										<span class="on_marker">2</span>
									</span>
									<span class="on_marker_wrapper" style="position:absolute;top:230px;left:20px;display:block;">
										<span class="on_marker">3</span>
									</span>
								</div>
							</div>
							<div class="looks_wrapper column last span-11-5" style="">
								<div class="looks_wrapper_head" class="span-11-5" style="">
									<div class="looks_wrapper_subhead" >
										<div class="column span-2" style="border:1px solid #f00;">Vote</div>
										<div class="column span-8 last" id="">
											<div class="column">Avatar</div>
											<div class="column">
												<h3>Post Title</h3>
												<div>
													<span>{{ looks.user }}</span>
													<span>date</span>
												</div>
											</div>
										</div>
										<div class="clear" style="height:0;line-height:0;">&nbsp;</div>
									</div>
								</div>
								<div class="looks_actions">Head Actions</div>
								<div class="looks_tags">
									<ul>
										<li style="">
											<span class="column number">1</span>
											<span class="column">kkkk</span>
										</li>
										<li>
											<span class="column number">2</span>
											<span class="column">ijjjjj</span>
										</li>
										<li>
											<span class="column number">3</span>
											<span class="column">kkk</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<div class=""></div>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="column span-9 last" id="side_bar" style="">
		<div class="twtr-bd">
			<div style=""  class="twtr-timeline">
				<div class="twtr-tweets" >
				</div>
			</div>
			<div class="twtr-fade"></div>
		</div>
	</div><!-- end side bar-->
{% endblock %}