<ul style="margin:0; padding:0;">
	<li><a href="">type2</a></li>
	<li><a href="">type1</a></li>
	<li><a href="">type1</a></li>
	<li><a href="">type1</a></li>
	<li style="text-align:right;">..更多</li>
</ul>