<ul style="margin:0; padding:0;">
	<li><a href="">Brand 1</a></li>
	<li><a href="">Brand 1</a></li>
	<li><a href="">Brand 1</a></li>
	<li><a href="">Brand 1</a></li>
	<li style="text-align:right"><a href="">..更多</a></li>
</ul>