{% extends '::layout.html.twig' %}
{% block body %}
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">我的搭配</a></li>
		<li><a href="#">我喜欢的</a></li>
		<li><a href="#">我的小花</a></li>
		<li><a href="/looks">时尚达人</a></li>
		<li><a href="/app_dev.php/profile/edit">基本信息</a></li>
	</ul>
	<div id="tabs-1">
	 #preload-my looks
	</div>
{% endblock body %}